#books {

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bookCard {

    background-color: grey;
    width: 200px;
    height: 200px;
    border: 10px 10px;
    margin: 10px 10px;
}





